html, body{
    height: 100%;
}
body{
    font-family: 'Montserrat', 'sans-serif';
}
.parallax{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* ========================================= */
/*                 Home Section              */
/* ========================================= */
section, #home, #home-cover{
    height: 100%;
}

#home-cover{
    background-image: url("../img/home-cover.jpg");
}

#home-content{
    width: 100%;
    height: 100%;
    display: table;
}

#home-inner-content{
    display: table-cell;
    vertical-align: middle;
}

#heading{
    color: #fff;
}

#heading h2{
    font-size: 5em;
    margin: 0 20px;
}

/* ======================================== */
/*                 BUTTONS                  */
/* ======================================== */
.btn-general{
    color: #fff;
    border-width: 2px;
    border-color: #fff;
}

.btn-general:hover,
.btn-general:focus{
    background-color: #3066be;
    color: #fff;
    border-color: #3066be;
}

.btn-sradius{
    border-radius: 2em;
}

#home-btn{
    margin: 20px 10px;
}

/* ======================================== */
/*                ANIMATIONS                */
/* ======================================== */

#home-cover{
    animation-delay: .1s;
    animation-duration: .5s;
}

#heading{
    animation-delay: .3s;
    animation-duration: .5s;
}

#home-btn{
    animation-delay: .2s;
    animation-duration: .5s;
}

/* ========================================= */
/*              Services Section             */
/* ========================================= */
.content-box{
    padding: 50px 0;
}
.content-title{
    margin-bottom: 50px;
}
.content-title h3{
    font-size: 40px;
    text-align: center;
}
.content-title-underline{
    height: 3px;
    width: 150px;
    background-color: #3066be;
    margin: 0 auto;
}

.services-item{
    margin: 0 20px;
    cursor: pointer;
    text-align: center;
}
.services-item-icon{
    color: #3066be;
    padding: 20px;
}
.services-item-icon i{
    padding: 10px;
    border-radius: 1rem;
}
.services-item:hover .services-item-icon i{
    color: #fff;
    background-color: #3066be;
}

/* ========================================= */
/*                About Section              */
/* ========================================= */
/* #about-bg-diagonal{
    float: right;
    width: 60%;
    height: 500px;
    border-top: 500px solid transparent;
    border-left: 150px solid #fff;
    background-image: url('../img/about.jpg');
} */
#about-content-box{
    float: left;
    height: 500px;
}
#about-content-box-outer{
    height: 100%;
    width: 100%;
    display: table;
}
#about-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}
#about-content-desc{
    margin-bottom: 50px;
}
